@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants hover, focus {
      .filter-none {
        filter: grayscale(50%);
      }
      .filter-grayscale {
        filter: grayscale(100%);
      }
    }
  }

  .snap-x {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
  .snap-start {
    scroll-snap-align: start;
}

.single-service {
  @apply w-96;
  @apply py-10;
  @apply px-8;
  @apply bg-third;
  @apply flex;
  @apply justify-between;
  @apply items-center;
  @apply group;
  @apply hover:bg-primary;
  @apply duration-500;
}

/* 
.snap-x {
    scroll-snap-type: x mandatory;
    
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: start;
}
*/

/* 2. background-image: url(./img/header-background.jpg);
height: 100vh;
background-repeat: no-repeat;
background-position: 70% 50%;
background-size: 680px auto;
background-color: black; */


/* 3. what is diff between w-13 and w-2/6 ?? and like that */

/* 4. when I'm writing width: 395px element content width become 162.53px, reason??? on 'who we are' */

/* 5. when I'm writing w-customOne (27rem) element content width become 175.63px, reason??? on 'aron smith' */

/* 6. animation  */

/* 7. effect direction on hover */

/* 8. <div v-for="item in items" class="transform first:rotate-45 ..."> */

/* 9. other states >>> Generating variants for custom utilities
Creating custom variants
Default variants reference */

/* 10. adding base style >>> using a plugin... theme */

/* 11. extracting template components */

/* 12. diff between base components and utilities in tailwind? layer, variants, theme()?? */

/* 13. configuration */

/* 14. JIT */

/* 15. Referencing other values */

/* 16. Variants */

/* 17. Presets */
